body {
    background: linear-gradient(to right, #3a7bd5, #9b59b6);
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 200px;
    height: auto;
}

.nav-links {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-button {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: #DCCDC5;
    display: flex;
    align-items: center; 
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #DCCDC5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links:hover .dropdown {
    display: block;
}

.dropdown li {
    margin-bottom: 5px;
    list-style: none;
    font-weight: bold;
}

.dropdown a {
    text-decoration: none;
    color:#9b59b6;
}

.dropdown a:hover {
    color: #3a7bd5;
}
.menu{
    color:#DCCDC5;
    font-weight: bold;
    font-size: 26px;
    margin-right: 10px;
}