*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MosaicoTall Tall;
    src: url(FontsFree-Net-MOSATT__.ttf);
}
body {
    background: #9b59b6;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 200px;
    height: auto;
}

.nav-links {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-button {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: #DCCDC5;
    display: flex;
    align-items: center; 
    margin-top: 3px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #DCCDC5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links:hover .dropdown {
    display: block;
}

.dropdown li {
    margin-bottom: 5px;
    list-style: none;
    font-weight: bold;
}

.dropdown a {
    text-decoration: none;
    color:#9b59b6;
}

.dropdown a:hover {
    color: #3a7bd5;
}
.menu{
    color:#DCCDC5;
    font-size: 26px;
    margin-right: 10px;
}

nav::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #DCCDC5;
    margin-top: 10px; 
}

.maintitle{
    font-family: MosaicoTall Tall;
    color: #DCCDC5;
    font-size: 200px;
    margin-top: 10px; 
    text-align: center; 
    padding-top: 5px; 
}


.container1 {
    display: flex;
    justify-content: space-around;
    margin-top: -100px;
}
.Box {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);;
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0 0; 
    justify-content: center;
    flex-direction: column;
}

.content {
    text-align: center;
    padding: 20px;
}

.content h2 {
    margin-bottom: 10px;
    color:#9b59b6;
    
}

.content p {
    margin-top: 10px;
    color:#9b59b6;

}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:  80%; 
}

.image-container img {
    max-width: 100%; 
    max-height: 100%; 
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000; 
}

#About {
    background-color:#9b59b6;
    padding: 200px; 
    font-weight: bold;
    color:#DCCDC5;
}

.p-about {
    text-align: center;
    padding-bottom: 100px;
}

.click {
    border-color: #DCCDC5;
    background-color: transparent; 
    text-align: center; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block; 
    margin: 0 auto; 
    border-width: 10px;
    font-family: MosaicoTall Tall;
    font-weight: bold;
    font-size: 30px;
    color: #DCCDC5;
}

#Gallery{
    background-color: #9b59b6;
}

#About a{
    text-decoration: none;
}



.copyright {
    font-family: MosaicoTall Tall;
    color: black;
    text-align: center;
    font-size: 20px;
    background-color: #DAB3F6;
    margin: auto; 
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#Gallery .nftart_gallery{
    text-align: center;
    font-family: MosaicoTall Tall;
    color: #DCCDC5;
    font-size: 100px;
}

.firstpiece {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    align-items: center;
    margin: 40px;
    overflow: hidden;
}

.firstpiece .img_container{
    height: 50vh;
    width:50vw;
}
.img_container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.text_container {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #3a7bd5;
}

.text_container h2 {
    font-size: 1.5rem;
    color:#DCCDC5;
    margin-bottom: 1rem;
}

.text_container p {
    text-align: justify;
    line-height: 1.6;
    text-align: left;
    color: #e1dfde;
}

@media screen and (max-width:480px){
    .firstpiece{
        grid-template-columns: 1fr;
    }
    .img_container, .text_container{
        object-fit: cover;
        width: 100%;
    }

    #Home .Box-3{
        display: none;
    }
    
    .maintitle{
        font-size: 50px;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .Box {
        width: 90%; 
        border-radius: 190px 190px 0 0; 
        margin-bottom: 20px;
    }

    .image-container img{
        width: 80%;
        height: auto;
    }

    #About{
        width: 30vw;
    }

    .p-about{
        justify-content: center;
    }
}